<footer class="footer">
  <a class="footer__arrow" href="#hero">
    <include src="./svg/ico-arrow.html"></include>
  </a>

  <nav>
    <ul class="footer__nav">
      <include src="./footer_list.html" listContent="Articles"></include>
      <include src="./footer_list.html" listContent="Books"></include>
      <include src="./footer_list.html" listContent="Events"></include>
      <include src="./footer_list.html" listContent="Reasons"></include>
      <include src="./footer_list.html" listContent="Tips"></include>
    </ul>
  </nav>
  <nav>
    <ul class="footer__nav">
      <include src="./footer_list.html" listContent="Twitter"></include>
      <include src="./footer_list.html" listContent="Instagram"></include>
      <include src="./footer_list.html" listContent="Mastodon.social"></include>
    </ul>
  </nav>
  <div class="footer__smallsSection">
    <small class="footer__small">&copy; 2021</small>
    <small class="footer__small"
      >we <include src="./svg/heart.html"></include>components</small
    >
  </div>
</footer>
